{% extends 'turnos/solicitar.html' %}

{% block turno %}
	<h1 class="solicitar-lbl">Turno generado</h1><hr>
	<div>
		<p class="solicitar-lbl"><b>Cliente: </b> {{turno.cliente}}</p><br>
		<p class="solicitar-lbl"><b>Turno: </b> {{turno.sector.codigo}}{{turno.numero}}</p><br>
		<p class="solicitar-lbl"><b>Fecha y hora: </b> {{turno.fecha}}</p><br>

	</div>
	<script type="text/javascript">
		function redireccionarPagina() {
		  window.location = "{% url 'vista_cliente' %}";
		}
		setTimeout("redireccionarPagina()", 5000);

	</script>
{% endblock turno %}