{% extends 'turnos/solicitar.html' %}

{% block turno %}
	<center><h1 class="solicitar-lbl">Ultimos Turnos</h1></center>
	<table class="table table-condensed" id="tabla-turnos">
				<tbody class="solicitar-lbl">
					{% for elemento in ultimos_turnos %}
					<tr id="{{elemento.id}}">
						<td>
							{{ elemento.sector.codigo }}{{ elemento.numero }}
						</td>
						<td>
							{% if elemento.cliente %}	{{ elemento.cliente }} {% else %} {{ elemento.no_cliente }} {% endif %}
						</td>
						<td>
							Espera desde: {{ elemento.fecha }}	
						</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>

			<div class="pull-right">
			<iframe scrolling="no" frameborder="no" clocktype="html5" style="overflow:hidden;border:0;margin:0;padding:0;width:240px;height:25px;"src="http://www.clocklink.com/html5embed.php?clock=018&timezone=GMT-0300&color=yellow&size=240&Title=&Message=&Target=&From=2015,1,1,0,0,0&DateFormat=dd  MMM  yyyy &TimeFormat=hh:mm:ss TT&Color=yellow"></iframe>
			</div>
			<script type="text/javascript">
				setInterval(function(){
					$.get("/turnos/nuevo_atencion/",function(data){
						if(data.length > 0){
							for(var i=0;i<data.length;i++){
								if ($('#'+data[i]['fields']['turno'])){
									fila = $('#'+data[i]['fields']['turno']);
									fila.fadeOut(2000);
								}
								//alert('$("#'+data[i]['fields']['turno']+'")')
							}
						}
					});
					$.get("/turnos/ultimo_espera/",function(data2){
						if ($('#'+data2.id)){

							tabla = $('#tabla-turnos');
							tabla.append('<tr id="'+ data2.id +'" style="display:none"><td>'+data2.turno+'</td><td>'+ data2.cliente +'</td><td>Espera desde: '+ data2.fecha +'</td></tr>');
							$('#'+data2.id).fadeIn(2000);
						}
						//alert('$("#'+data[i]['fields']['turno']+'")')
							
						
					});
				}, 2000);
			</script>
{% endblock turno %}