 {% load staticfiles %}

 <!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<meta http-equiv="content-type" content="text/html;charset=utf-8" />
     <script src="{% static 'js/jquery-1.11.3.min.js' %}"></script>
     <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
     <link href="{% static 'css/jquery-ui.css' %}" rel="stylesheet">
     <script src="{% static 'js/bootstrap.min.js' %}"></script>
     <script src="{% static 'js/dia_y_hora.js' %}"></script>
     <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}" />
     

    <link href="{% static 'css/font-awesome/css/font-awesome.min.css' %}" >
    <link href="{% static 'css/sb-admin.css' %}" rel="stylesheet">
    <link href="{% static 'css/plugins/morris.css' %}" rel="stylesheet">
    
     <script src="{% static 'js/plugins/morris/raphael.min.js' %}"></script>
     <script src="{% static 'js/plugins/morris/morris.min.js' %}"></script>
     <script src="{% static 'js/plugins/morris/morris-data.js' %}"></script>

   
<body onload="actualizaReloj()">
 
 <div id="wrapper">
	 	    	
            
        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    
                </button>
                <a class="navbar-brand" href="{% url 'home' %}">Turn-O-Matic</a>
            </div>
            
            <!-- Top Menu Items -->
            <ul class="nav navbar-right top-nav">
                <li class="dropdown">
                    <span class="navbar-brand" id="Fecha_Reloj"></span></li>
                <li class="dropdown">
                    <!--span id="Fecha_Reloj"></span-->
                     <a href=" " class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span> Smith, Jhon <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="  "><i class="fa fa-fw fa-power-off"></i> Log Out</a>
                        </li>
                    </ul>
                </li>
            </ul>
            
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li>
                        <a href="{% url 'tipo_cliente' %}"><i class="fa fa-fw fa-dashboard"></i>Gestionar Tipos de clientes</a>
                    </li>
                    <li>
                        <a href="{% url 'cliente' %}"><i class="fa fa-fw fa-table"></i>Gestionar Clientes</a>
                    </li>
                    <li>
                        <a href="{% url 'tramite' %}"><i class="fa fa-fw fa-dashboard"></i> Gestionar Tramites</a>
                    </li>
                    <li>
                        <a href="{% url 'sector' %}"><i class="fa fa-fw fa-dashboard"></i> Gestionar Sectores</a>
                    </li>
                    <li>
                        <a href="{% url 'turno' %}"><i class="fa fa-fw fa-dashboard"></i> Gestionar Turnos</a>
                    </li>
                    <li>
                        <a href="{% url 'boxAtencion' %}"><i class="fa fa-fw fa-dashboard"></i> Gestionar Box de Atencion</a>
                    </li>
                    <!--li>
                       <a href="{% url 'vista_cliente' %}" ><i class="fa fa-fw fa-dashboard"></i> Vista del cliente <strong> (No!!!) </strong></a>
                    </li>
                    <li>
                       <a href="{% url 'ultimos_turnos' %}" ><i class="fa fa-fw fa-dashboard"></i>  Ultimos Turnos</a>
                       {% for box in boxes %}
                        <a href="{% url 'vista_empleado' box.id %}" > Box nro. {{ box.nro_box }} - Empleado: {{ box.empleado }}</a><br>
                        {% endfor %}
                    </li-->
                 
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>

        <div id="page-wrapper" style="height: 800px;">
           <div class="container-fluid"> 
                {% block container-fluid %}
 
                {% endblock %}
           </div>

        </div>
        <!-- /#page-wrapper -->
       
    </div>
</body>

</html>
