{% load staticfiles %}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <script src="{% static 'js/jquery-1.11.3.min.js' %}"></script>

    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
   <script src="{% static 'js/funciones.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}" />


<body>
	{% block cuerpo %}

		<center><h1>Sistema Turn-o-Matic</h1></center>
		<aside>
			<a href="{% url 'tipo_cliente' %}">Gestionar Tipos de clientes</a><br>

			<a href="{% url 'cliente' %}">Gestionar Clientes</a><br>	
			<a href="{% url 'tramite' %}">Gestionar Tramites</a><br>
			<a href="{% url 'sector' %}">Gestionar Sectores</a><br>	
			<a href="{% url 'boxAtencion' %}">Gestionar Box de Atencion</a><br>
			<a href="{% url 'turno' %}">Gestionar Turnos</a><br>
			<a href="{% url 'vista_cliente' %}"> Vista del cliente </a><br>
			<a href="{% url 'ultimos_turnos' %}"> Ultimos Turnos </a><br>
			{% for box in boxes %}
				<a href="{% url 'vista_empleado' box.id %}"> Box nro. {{ box.nro_box }} - Empleado: {{ box.empleado }}</a><br>
			{% endfor %}	

		</aside>
	{% endblock cuerpo %}
	<!--a href="{% url 'home' %}">Volver al inicio</a-->
</body>


</html>